**/bin/**
**/obj/**

*.log
*.map
*.user
*.vs

/out/**
Builds/
*.svd
*.userprefs
*.pidb
*.suo
*.user
.vsconfig

# Windows rubbish
Thumbs.db
ehthumbs.db
desktop.ini
src/ExampleMod.Unity/Assembly-CSharp.csproj
src/ExampleMod.Unity/Assembly-CSharp-Editor.csproj
